button{
  padding:5px;
  margin: 10px;
}
ul{
  text-align: center;
  text-decoration: none;
  background-color: #09585eb2;
  padding: 15px;
}
li{
  display: inline;
  padding: 15px;
  color: white;
  margin: 10px;

}
span{
  color: white;
  background-color: #e9dfdf;
  padding: 5px;
}
h4{
  text-align: center;
}
.btn{
  background-color: #3131e9d7;
  border-radius: 5px;
  color: white;
  border-width: 0px;
}
.btn{
  background-color: blue;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 100px;
}
.employ-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: red
  ;
}

td {
  background-color: grey;
  color: white;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.navbar:hover{
  background-color: #ffa500 !important;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.7s;


}

/*Weather app*/

.card {
  max-width: 50%;
  padding:70px;
}

/*clock*/

.heading{
  color: white;
  background-color: black;
  padding: 5px;
}
.main-container{
  height:400px;
  width:330px;
  margin: auto;
  background-color: blanchedalmond;
}

/*Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
